/* CSS crunched with Crunch - http://crunchapp.net/ */
.H2-W3 .focus {
  padding: 66.66666667% 0 0 0;
}
@media screen and (max-width: 1000px) {
  .H2-W3 .focus img {
    width: calc(100% + 2em);
    max-width: calc(100% + 2em);
    top: -0.66666667em;
    left: -1em;
  }
  .H2-W3 .vertical-focus-up-20 img {
    top: 0em;
  }
  .H2-W3 .vertical-focus-up-19 img {
    top: -0.03333333em;
  }
  .H2-W3 .vertical-focus-up-18 img {
    top: -0.06666667em;
  }
  .H2-W3 .vertical-focus-up-17 img {
    top: -0.1em;
  }
  .H2-W3 .vertical-focus-up-16 img {
    top: -0.13333333em;
  }
  .H2-W3 .vertical-focus-up-15 img {
    top: -0.16666667em;
  }
  .H2-W3 .vertical-focus-up-14 img {
    top: -0.2em;
  }
  .H2-W3 .vertical-focus-up-13 img {
    top: -0.23333333em;
  }
  .H2-W3 .vertical-focus-up-12 img {
    top: -0.26666667em;
  }
  .H2-W3 .vertical-focus-up-11 img {
    top: -0.3em;
  }
  .H2-W3 .vertical-focus-up-10 img {
    top: -0.33333333em;
  }
  .H2-W3 .vertical-focus-up-9 img {
    top: -0.36666667em;
  }
  .H2-W3 .vertical-focus-up-8 img {
    top: -0.4em;
  }
  .H2-W3 .vertical-focus-up-7 img {
    top: -0.43333333em;
  }
  .H2-W3 .vertical-focus-up-6 img {
    top: -0.46666667em;
  }
  .H2-W3 .vertical-focus-up-5 img {
    top: -0.5em;
  }
  .H2-W3 .vertical-focus-up-4 img {
    top: -0.53333333em;
  }
  .H2-W3 .vertical-focus-up-3 img {
    top: -0.56666667em;
  }
  .H2-W3 .vertical-focus-up-2 img {
    top: -0.6em;
  }
  .H2-W3 .vertical-focus-up-1 img {
    top: -0.63333333em;
  }
  .H2-W3 .vertical-focus-down-1 img {
    top: -0.7em;
  }
  .H2-W3 .vertical-focus-down-2 img {
    top: -0.73333333em;
  }
  .H2-W3 .vertical-focus-down-3 img {
    top: -0.76666667em;
  }
  .H2-W3 .vertical-focus-down-4 img {
    top: -0.8em;
  }
  .H2-W3 .vertical-focus-down-5 img {
    top: -0.83333333em;
  }
  .H2-W3 .vertical-focus-down-6 img {
    top: -0.86666667em;
  }
  .H2-W3 .vertical-focus-down-7 img {
    top: -0.9em;
  }
  .H2-W3 .vertical-focus-down-8 img {
    top: -0.93333333em;
  }
  .H2-W3 .vertical-focus-down-9 img {
    top: -0.96666667em;
  }
  .H2-W3 .vertical-focus-down-10 img {
    top: -1em;
  }
  .H2-W3 .vertical-focus-down-11 img {
    top: -1.03333333em;
  }
  .H2-W3 .vertical-focus-down-12 img {
    top: -1.06666667em;
  }
  .H2-W3 .vertical-focus-down-13 img {
    top: -1.1em;
  }
  .H2-W3 .vertical-focus-down-14 img {
    top: -1.13333333em;
  }
  .H2-W3 .vertical-focus-down-15 img {
    top: -1.16666667em;
  }
  .H2-W3 .vertical-focus-down-16 img {
    top: -1.2em;
  }
  .H2-W3 .vertical-focus-down-17 img {
    top: -1.23333333em;
  }
  .H2-W3 .vertical-focus-down-18 img {
    top: -1.26666667em;
  }
  .H2-W3 .vertical-focus-down-19 img {
    top: -1.3em;
  }
  .H2-W3 .vertical-focus-down-20 img {
    top: -1.33333333em;
  }
  .H2-W3 .horizontal-focus-left-20 img {
    left: 0em;
  }
  .H2-W3 .horizontal-focus-left-19 img {
    left: -0.05em;
  }
  .H2-W3 .horizontal-focus-left-18 img {
    left: -0.1em;
  }
  .H2-W3 .horizontal-focus-left-17 img {
    left: -0.15em;
  }
  .H2-W3 .horizontal-focus-left-16 img {
    left: -0.2em;
  }
  .H2-W3 .horizontal-focus-left-15 img {
    left: -0.25em;
  }
  .H2-W3 .horizontal-focus-left-14 img {
    left: -0.3em;
  }
  .H2-W3 .horizontal-focus-left-13 img {
    left: -0.35em;
  }
  .H2-W3 .horizontal-focus-left-12 img {
    left: -0.4em;
  }
  .H2-W3 .horizontal-focus-left-11 img {
    left: -0.45em;
  }
  .H2-W3 .horizontal-focus-left-10 img {
    left: -0.5em;
  }
  .H2-W3 .horizontal-focus-left-9 img {
    left: -0.55em;
  }
  .H2-W3 .horizontal-focus-left-8 img {
    left: -0.6em;
  }
  .H2-W3 .horizontal-focus-left-7 img {
    left: -0.65em;
  }
  .H2-W3 .horizontal-focus-left-6 img {
    left: -0.7em;
  }
  .H2-W3 .horizontal-focus-left-5 img {
    left: -0.75em;
  }
  .H2-W3 .horizontal-focus-left-4 img {
    left: -0.8em;
  }
  .H2-W3 .horizontal-focus-left-3 img {
    left: -0.85em;
  }
  .H2-W3 .horizontal-focus-left-2 img {
    left: -0.9em;
  }
  .H2-W3 .horizontal-focus-left-1 img {
    left: -0.95em;
  }
  .H2-W3 .horizontal-focus-right-1 img {
    left: -1.05em;
  }
  .H2-W3 .horizontal-focus-right-2 img {
    left: -1.1em;
  }
  .H2-W3 .horizontal-focus-right-3 img {
    left: -1.15em;
  }
  .H2-W3 .horizontal-focus-right-4 img {
    left: -1.2em;
  }
  .H2-W3 .horizontal-focus-right-5 img {
    left: -1.25em;
  }
  .H2-W3 .horizontal-focus-right-6 img {
    left: -1.3em;
  }
  .H2-W3 .horizontal-focus-right-7 img {
    left: -1.35em;
  }
  .H2-W3 .horizontal-focus-right-8 img {
    left: -1.4em;
  }
  .H2-W3 .horizontal-focus-right-9 img {
    left: -1.45em;
  }
  .H2-W3 .horizontal-focus-right-10 img {
    left: -1.5em;
  }
  .H2-W3 .horizontal-focus-right-11 img {
    left: -1.55em;
  }
  .H2-W3 .horizontal-focus-right-12 img {
    left: -1.6em;
  }
  .H2-W3 .horizontal-focus-right-13 img {
    left: -1.65em;
  }
  .H2-W3 .horizontal-focus-right-14 img {
    left: -1.7em;
  }
  .H2-W3 .horizontal-focus-right-15 img {
    left: -1.75em;
  }
  .H2-W3 .horizontal-focus-right-16 img {
    left: -1.8em;
  }
  .H2-W3 .horizontal-focus-right-17 img {
    left: -1.85em;
  }
  .H2-W3 .horizontal-focus-right-18 img {
    left: -1.9em;
  }
  .H2-W3 .horizontal-focus-right-19 img {
    left: -1.95em;
  }
  .H2-W3 .horizontal-focus-right-20 img {
    left: -2em;
  }
}
